// CommunicationChannels.scss

.chat-app-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
  
    .customer-list-container {
      width: 30%;
      padding-right: 20px;
  
      h5 {
        font-size: 16px;
        margin-bottom: 10px;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          cursor: pointer;
          padding: 10px;
          background-color: #f0f0f0;
          margin-bottom: 5px;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }
  
    .chat-container {
      width: 70%;
  
      h5 {
        font-size: 18px;
        margin-bottom: 15px;
      }
  
      .chat-messages {
        overflow-y: auto;
        max-height: 400px;
  
        div {
          padding: 8px;
          margin-bottom: 5px;
          border-radius: 5px;
  
          &.sent {
            background-color: #4caf50;
            color: #fff;
          }
  
          &.received {
            background-color: #e0e0e0;
          }
  
          strong {
            margin-right: 5px;
          }
        }
      }
  
      .message-input-container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
  
        input {
          flex: 1;
          padding: 8px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
  
        button {
          padding: 8px 20px;
          background-color: #51CC62;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #4caf50;
          }
        }
      }
    }
  }
  