// SupportTicketing.scss
.support-ticketing {
    h5 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    table {
      width: 100%;
  
      th, td {
        text-align: center;
      }
  
      th {
        background-color: #51CC62;
        color: black;
      }
  
      td {
        button {
          width: 100%;
        }
      }
    }
  }
  